# dependencies
chessboard/node_modules/
chessboard/.pnp

engine/node_modules/

# next.js
/chessboard/.next/
/chessboard/out/

# typescript
chessboard/*.tsbuildinfo
chessboard/next-env.d.ts

# misc
misc

# env
.env*
